$breakpoint-xsmall: 400px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

:export {
  breakpointXS: $breakpoint-xsmall;
  breakpointS: $breakpoint-small;
  breakpointM: $breakpoint-medium;
  breakpointL: $breakpoint-large;
  breakpointXL: $breakpoint-xlarge;
}
