@import './assets/styles/colours';
@import './assets/styles/breakpoints';

@media (min-width: $breakpoint-medium) {
  .menu-button-wrapper {
    display: none;
  }
}

@media (max-width: $breakpoint-medium) {
  nav.header-navigation-items {
    display: none;
  }
}

@media (max-width: $breakpoint-small) {
  .header-text {
    display: none;
  }
}

header.navbar {
  background-color: var(--primary-colour);
  border-bottom: 1px solid var(--alternate-colour);
}
